
<section id="banner" data-video="assets/images/videopelis">
    <div class="inner">
        <header>
            <h1>Bienvenidos a Nuestro Espacio de Peliculas</h1>
            <p>En este espacio podras encontrar de las mejores peliculas<br />
            Y videojuegos que son tendencias en estos momentos.</p>
        </header>
        <a href="#main" class="button big alt scrolly">Ver mas</a>
        <img src="" alt="">
    </div>
</section>



<div id="main">

    <!-- One -->
      <section class="wrapper style1">
        <div class="inner">
          <header class="align-center">
            <h2>Recomendadas</h2>
            <p>¡Primero aqui! Disfruta las mejores peliculas.</p>
          </header>
          <!-- 2 Column Video Section -->
            <div class="flex flex-2">
              <div class="video col">
                <div class="image fit">
                  <img src="../assets/images/pic07.jpg" alt="" />
                  <div class="arrow">
                    <div class="icon fa-play"></div>
                  </div>
                </div>
                <p class="caption">
                  Una familia Se presenta como una superheroína flexible que es capaz de estirarse hasta 30 m. Más adelante, se casa con Mr. Increíble, tomando su apellido, y teniendo tres niños: Violeta, Dash y Jack-Jack.
                </p>
                <a href="generic.html" class="link"><span>Click Me</span></a>
              </div>
              <div class="video col">
                <div class="image fit">
                  <img src="..//assets/images/pic08.jpg" alt="" />
                  <div class="arrow">
                    <div class="icon fa-play"></div>
                  </div>
                </div>
                <p class="caption">
                  Arthur Fleck es un payaso con una extraña enfermedad mental. Responsable del cuidado de su madre enferma, sueña con su propio espectáculo de stand up comedy. Pero ahora que el subestimado y mentalmente enfermo Arthur Fleck ha ganado popularidad, su vida y la de ciudad Gótica dan un giro radical
                </p>
                <a href="generic.html" class="link"><span>Click Me</span></a>
              </div>
            </div>
        </div>
      </section>

    <!-- Two -->
      <section class="wrapper style2">
        <div class="inner">
          <header>
            <h2>Disponible esta semana!</h2>
            <p>Lo mejor esta aqui.</p>
          </header>
          <!-- Tabbed Video Section -->
            <div class="flex flex-tabs">
              <ul class="tab-list">
                <li><a href="#" data-tab="tab-1" class="active"></a></li>
                <li><a href="#" data-tab="tab-2"></a></li>
                <li><a href="#" data-tab="tab-3"></a></li>
              </ul>
              <div class="tabs">

                <!-- Tab 1 -->
                  <div class="tab tab-1 flex flex-3 active">
                    <!-- Video Thumbnail -->
                      <div class="video col">
                        <div class="image fit">
                          <img src="../assets/images/pic01.jpg" alt="" />
                          <div class="arrow">
                            <div class="icon fa-play"></div>
                          </div>
                        </div>
                        <a href="../assets/images/pic01.jpg" class="link"><span>Click Me</span></a>
                      </div>
                    <!-- Video Thumbnail -->
                      <div class="video col">
                        <div class="image fit">
                          <img src="../assets/images/pic02.jpg" alt="" />
                          <div class="arrow">
                            <div class="icon fa-play"></div>
                          </div>
                        </div>
                        <a href="../assets/images/pic02.jpg" class="link"><span>Click Me</span></a>
                      </div>
                    <!-- Video Thumbnail -->
                      <div class="video col">
                        <div class="image fit">
                          <img src="../assets/images/pic03.jpg" alt="" />
                          <div class="arrow">
                            <div class="icon fa-play"></div>
                          </div>
                        </div>
                        <a href="../assets/images/pic03.jpg"  class="link"><span>Click Me</span></a>
                      </div>
                    <!-- Video Thumbnail -->
                      <div class="video col">
                        <div class="image fit">
                          <img src="../assets/images/pic04.jpg" alt="" />
                          <div class="arrow">
                            <div class="icon fa-play"></div>
                          </div>
                        </div>
                        <a href="../assets/images/pic04.jpg" class="link"><span>Click Me</span></a>
                      </div>
                    <!-- Video Thumbnail -->
                      <div class="video col">
                        <div class="image fit">
                          <img src="../assets/images/pic05.jpg" alt="" />
                          <div class="arrow">
                            <div class="icon fa-play"></div>
                          </div>
                        </div>
                        <a href="../assets/images/pic05.jpg" class="link"><span>Click Me</span></a>
                      </div>
                    <!-- Video Thumbnail -->
                      <div class="video col">
                        <div class="image fit">
                          <img src="../assets/images/pic06.jpg" alt="" />
                          <div class="arrow">
                            <div class="icon fa-play"></div>
                          </div>
                        </div>
                        <a href="../assets/images/pic06.jpg" class="link"><span>Click Me</span></a>
                      </div>
                  </div>

                <!-- Tab 2 -->
                  <div class="tab tab-2 flex flex-3">
                    <!-- Video Thumbnail -->
                      <div class="video col">
                        <div class="image fit">
                          <img src="../assets/images/pic06.jpg" alt="" />
                          <div class="arrow">
                            <div class="icon fa-play"></div>
                          </div>
                        </div>
                        <a href="../assets/images/pic06.jpg" class="link"><span>Click Me</span></a>
                      </div>
                    <!-- Video Thumbnail -->
                      <div class="video col">
                        <div class="image fit">
                          <img src="../assets/images/pic05.jpg" alt="" />
                          <div class="arrow">
                            <div class="icon fa-play"></div>
                          </div>
                        </div>
                        <a href="../assets/images/pic05.jpg" class="link"><span>Click Me</span></a>
                      </div>
                    <!-- Video Thumbnail -->
                      <div class="video col">
                        <div class="image fit">
                          <img src="../assets/images/pic04.jpg" alt="" />
                          <div class="arrow">
                            <div class="icon fa-play"></div>
                          </div>
                        </div>
                        <a href="../assets/images/pic04.jpg" class="link"><span>Click Me</span></a>
                      </div>
                    <!-- Video Thumbnail -->
                      <div class="video col">
                        <div class="image fit">
                          <img src="../assets/images/pic03.jpg" alt="" />
                          <div class="arrow">
                            <div class="icon fa-play"></div>
                          </div>
                        </div>
                        <a href="../assets/images/pic03.jpg" class="link"><span>Click Me</span></a>
                      </div>
                    <!-- Video Thumbnail -->
                      <div class="video col">
                        <div class="image fit">
                          <img src="../assets/images/pic02.jpg" alt="" />
                          <div class="arrow">
                            <div class="icon fa-play"></div>
                          </div>
                        </div>
                        <a href="../assets/images/pic02.jpg" class="link"><span>Click Me</span></a>
                      </div>
                    <!-- Video Thumbnail -->
                      <div class="video col">
                        <div class="image fit">
                          <img src="../assets/images/pic01.jpg" alt="" />
                          <div class="arrow">
                            <div class="icon fa-play"></div>
                          </div>
                        </div>
                        <a href="../assets/images/pic01.jpg" class="link"><span>Click Me</span></a>
                      </div>
                  </div>

                <!-- Tab 3 -->
                  <div class="tab tab-3 flex flex-3">
                    <!-- Video Thumbnail -->
                      <div class="video col">
                        <div class="image fit">
                          <img src="../assets/images/pic03.jpg" alt="" />
                          <div class="arrow">
                            <div class="icon fa-play"></div>
                          </div>
                        </div>
                        <a href="../assets/images/pic03.jpg" class="link"><span>Click Me</span></a>
                      </div>
                    <!-- Video Thumbnail -->
                      <div class="video col">
                        <div class="image fit">
                          <img src="../assets/images/pic02.jpg" alt="" />
                          <div class="arrow">
                            <div class="icon fa-play"></div>
                          </div>
                        </div>
                        <a href="../assets/images/pic02.jpg" class="link"><span>Click Me</span></a>
                      </div>
                    <!-- Video Thumbnail -->
                      <div class="video col">
                        <div class="image fit">
                          <img src="../assets/images/pic01.jpg" alt="" />
                          <div class="arrow">
                            <div class="icon fa-play"></div>
                          </div>
                        </div>
                        <a href="../assets/images/pic01.jpg" class="link"><span>Click Me</span></a>
                      </div>
                    <!-- Video Thumbnail -->
                      <div class="video col">
                        <div class="image fit">
                          <img src="../assets/images/pic06.jpg" alt="" />
                          <div class="arrow">
                            <div class="icon fa-play"></div>
                          </div>
                        </div>
                        <a href="../assets/images/pic06.jpg" class="link"><span>Click Me</span></a>
                      </div>
                    <!-- Video Thumbnail -->
                      <div class="video col">
                        <div class="image fit">
                          <img src="../assets/images/pic05.jpg" alt="" />
                          <div class="arrow">
                            <div class="icon fa-play"></div>
                          </div>
                        </div>
                        <a href="../assets/images/pic05.jpg" class="link"><span>Click Me</span></a>
                      </div>
                    <!-- Video Thumbnail -->
                      <div class="video col">
                        <div class="image fit">
                          <img src="../assets/images/pic04.jpg" alt="" />
                          <div class="arrow">
                            <div class="icon fa-play"></div>
                          </div>
                        </div>
                        <a href="../assets/images/pic04.jpg" class="link"><span>Click Me</span></a>
                      </div>
                  </div>

              </div>
            </div>
        </div>
      </section>

    <!-- Three -->
      <section class="wrapper ">
        <div class="inner">
          <header class="align-center">
            <h2>Semana de estreno</h2>
            <p>Lo mejor esta aqui!.</p>
          </header>

          <!-- 3 Column Video Section -->
            <div class="flex flex-3">
              <div class="video col">
                <div class="image fit">
                  <img src="../assets/images/pic09.jpg" alt="" />
                  <div class="arrow">
                    <div class="icon fa-play"></div>
                  </div>
                </div>
                <p class="caption">
                  "Mulan" es la aventura épica de una intrépida joven que se disfraza de hombre para luchar contra los invasores del norte que atacan China. ... El Emperador moviliza a sus tropas para combatir el ataque de los invasores del Norte así que Mulán se hace pasar por un hombre para sustituir a su padre enfermo."
                </p>
                <a href="../assets/images/pic09.jpg" class="link"><span>Click Me</span></a>
              </div>
              <div class="video col">
                <div class="image fit">
                  <img src="../assets/images/pic10.jpg" alt="" />
                  <div class="arrow">
                    <div class="icon fa-play"></div>
                  </div>
                </div>
                <p class="caption">
                  En Mujer Maravilla, la princesa amazónica Diana se propone detener la Primera Guerra Mundial, creyendo que el conflicto fue iniciado por el enemigo de las amazonas, Ares, desde que el piloto y espía estadounidense Steve Trevor aterriza en su isla Themyscira y le informa al respecto.
                </p>
                <a href="../assets/images/pic10.jpg" class="link"><span>Click Me</span></a>
              </div>
              <div class="video col">
                <div class="image fit">
                  <img src="../assets/images/pic11.jpg" alt="" />
                  <div class="arrow">
                    <div class="icon fa-play"></div>
                  </div>
                </div>
                <p class="caption">
                  Los Vengadores restantes deben encontrar una manera de recuperar a sus aliados para un enfrentamiento épico con Thanos, el malvado que diezmó el planeta y el universo.
                </p>
                <a href="../assets/images/pic11.jpg" class="link"><span>Click Me</span></a>
              </div>
            </div>
        </div>
      </section>

    </div>


    <footer id="footer">
        <div class="inner">
          <div class="flex flex-3">
            <div class="col">
              <h3>Nosotros</h3>
              <ul class="alt">
                <li><a href="#">Somos una empresa desde 2019</a></li>
                <li><a href="#">Donde nos importa los que los cliente pidan</a></li>
                <li><a href="#">los mejores precios.</a></li>
                <li><a href="#">Alta calidad.</a></li>
              </ul>
            </div>
            <div class="col">
              <h3>Horarios</h3>
              <ul class="alt">
                <li><a href="#">Lunes/8:00 am- 5:00 pm </a></li>
                <li><a href="#">Martes/8:00 am- 5:00 pm </a></li>
                <li><a href="#">Miercoles/8:00 am- 5:00 pm</a></li>
                <li><a href="#">Jueves/8:00 am- 5:00 pm.</a></li>
                <li><a href="#">Viernes/8:00 am- 5:00 pm.</a></li>
                <li><a href="#">Sabado/8:00 am- 9:00 pm.</a></li>
                <li><a href="#">Domingos/8:00 am- 9:00 pm.</a></li>
              </ul>
            </div>
            <div class="col">
              <h3>Informacion de contacto</h3>
              <ul class="alt">
                <li><a href="#">Calle nor este Teg Honduras @504</a></li>
      
              </ul>
            </div>
          </div>
        </div>
        <div class="copyright">
          <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
          </ul>
          &copy; Untitled. Design: Grupo 3 Seminario de Software UNICAH 2020 Tercer Semestre.
        </div>
      </footer>