
<section id="banner" data-video="assets/images/videogames">
  <div class="inner">
      <header>
          <h1>Bienvenidos a Nuestro Espacio de VideoJuegos</h1>
          <p>En este espacio podras encontrar de las mejores peliculas<br />
          Y videojuegos que son tendencias en estos momentos.</p>
      </header>
      <a href="#main" class="button big alt scrolly">Ver mas</a>
      <img src="" alt="">
  </div>
</section>

<div id="main">
<div id="shell">
  <div id="header">
    <h1 id="logo"><a href="#">Catalogo de Videjuegos</a></h1>
    <div class="social"> <span>SIGUENOS EN:</span>
      <ul>
        <li><a class="twitter" href="#">twitter</a></li>
        <li><a class="facebook" href="#">facebook</a></li>
        <li><a class="vimeo" href="#">vimeo</a></li>
        <li><a class="rss" href="#">rss</a></li>
      </ul>
    </div>
    <div id="navigation">
      <ul>
        <li><a class="active" href="#">Inicio</a></li>
        <li><a href="#">Nuevos</a></li>
        <li><a href="#">En Pre-Venta</a></li>
        <li><a href="#">Muy Pronto</a></li>
        <li><a href="#">Contactos</a></li>
        <li><a href="#">Anunciados</a></li>
      </ul>
    </div>
    <div id="sub-navigation">
      <ul>
        <li><a href="#">Mostrar Todo</a></li>
        <li><a href="#">Ultimos Trailers</a></li>
        <li><a href="#">Mayor Evaluadas</a></li>
        <li><a href="#">Mas Recomendado</a></li>
      </ul>
      <div id="search">
        <form action="#" method="get" accept-charset="utf-8">
          <label for="search-field">Buscar</label>
          <input type="text" name="search field" value="Buscar..." id="search-field" class="blink search-field"  />
          <input type="submit" value="GO!" class="search-button" />
        </form>
      </div>
    </div>
  </div>
  <div id="main">
    <div id="content">
      <div class="box">
        <div class="head">
          <h2>ULTIMOS TRAILERS</h2>
          <p class="text-right"><a href="#">Mostrar Todo</a></p>
        </div>
        <div class="movie">
          <div class="movie-image"> <span class="play"><span class="name">DESTINY</span></span> <a href="#"><img src="../assets/images/movie1.jpg" alt="" /></a> </div>
          <div class="rating">
            <p>PUNTUACIÓN</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
            <span class="comments">12</span> </div>
        </div>
        <div class="movie">
          <div class="movie-image"> <span class="play"><span class="name">ANIMAL CROSSING</span></span> <a href="#"><img src="../assets/images/movie2.jpg" alt="" /></a> </div>
          <div class="rating">
            <p>PUNTUACIÓN</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
            <span class="comments">12</span> </div>
        </div>
        <div class="movie">
          <div class="movie-image"> <span class="play"><span class="name">BTLEFIELD 1</span></span> <a href="#"><img src="../assets/images/movie3.jpg" alt="" /></a> </div>
          <div class="rating">
            <p>PUNTUACIÓN</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
            <span class="comments">12</span> </div>
        </div>
        <div class="movie">
          <div class="movie-image"> <span class="play"><span class="name">SUPER MARIO ODYSSEY</span></span> <a href="#"><img src="../assets/images/movie4.jpg" alt="" /></a> </div>
          <div class="rating">
            <p>PUNTUACIÓN</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
            <span class="comments">12</span> </div>
        </div>
        <div class="movie">
          <div class="movie-image"> <span class="play"><span class="name">THE SURGE</span></span> <a href="#"><img src="../assets/images/movie5.jpg" alt="" /></a> </div>
          <div class="rating">
            <p>PUNTUACIÓN</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
            <span class="comments">12</span> </div>
        </div>
        <div class="movie last">
          <div class="movie-image"> <span class="play"><span class="name">HORIZON ZERO DAWN</span></span> <a href="#"><img src="../assets/images/movie6.jpg" alt="" /></a> </div>
          <div class="rating">
            <p>PUNTUACIÓN</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
            <span class="comments">12</span> </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
      <div class="box">
        <div class="head">
          <h2>MEJOR VALORADAS</h2>
          <p class="text-right"><a href="#">See all</a></p>
        </div>
        <div class="movie">
          <div class="movie-image"> <span class="play"><span class="name">NAMCO MUSEUM</span></span> <a href="#"><img src="../assets/images/movie7.jpg" alt="" /></a> </div>
          <div class="rating">
            <p>PUNTUACIÓN</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
            <span class="comments">12</span> </div>
        </div>
        <div class="movie">
          <div class="movie-image"> <span class="play"><span class="name">MODERN WARFARE</span></span> <a href="#"><img src="../assets/images/movie8.jpg" alt="" /></a> </div>
          <div class="rating">
            <p>PUNTUACIÓN</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
            <span class="comments">12</span> </div>
        </div>
        <div class="movie">
          <div class="movie-image"> <span class="play"><span class="name">DEVIL MAY CRY 5</span></span> <a href="#"><img src="../assets/images/movie9.jpg" alt="" /></a> </div>
          <div class="rating">
            <p>PUNTUACIÓN</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
            <span class="comments">12</span> </div>
        </div>
        <div class="movie">
          <div class="movie-image"> <span class="play"><span class="name">AVENGERS</span></span> <a href="#"><img src="../assets/images/movie10.jpg" alt="" /></a> </div>
          <div class="rating">
            <p>PUNTUACIÓN</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
            <span class="comments">12</span> </div>
        </div>
        <div class="movie">
          <div class="movie-image"> <span class="play"><span class="name">SUPER SMASH BROS</span></span> <a href="#"><img src="../assets/images/movie11.jpg" alt="" /></a> </div>
          <div class="rating">
            <p>PUNTUACIÓN</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
            <span class="comments">12</span> </div>
        </div>
        <div class="movie last">
          <div class="movie-image"> <span class="play"><span class="name">RESIDENT EVIL 2</span></span> <a href="#"><img src="../assets/images/movie12.jpg" alt="" /></a> </div>
          <div class="rating">
            <p>PUNTUACIÓN</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
            <span class="comments">12</span> </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
      <div class="box">
        <div class="head">
          <h2>MAS COMENTADAS</h2>
          <p class="text-right"><a href="#">See all</a></p>
        </div>
        <div class="movie">
          <div class="movie-image"> <span class="play"><span class="name">TOMB RAIDER</span></span> <a href="#"><img src="../assets/images/movie13.jpg" alt="" /></a> </div>
          <div class="rating">
            <p>PUNTUACIÓN</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
            <span class="comments">12</span> </div>
        </div>
        <div class="movie">
          <div class="movie-image"> <span class="play"><span class="name">LEGO CITY UNDERCOVER</span></span> <a href="#"><img src="../assets/images/movie14.jpg" alt="" /></a> </div>
          <div class="rating">
            <p>PUNTUACIÓN</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
            <span class="comments">12</span> </div>
        </div>
        <div class="movie">
          <div class="movie-image"> <span class="play"><span class="name">THE LEGEND OF ZELDA BREATH OF THE WILD</span></span> <a href="#"><img src="../assets/images/movie15.jpg" alt="" /></a> </div>
          <div class="rating">
            <p>PUNTUACIÓN</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
            <span class="comments">12</span> </div>
        </div>
        <div class="movie">
          <div class="movie-image"> <span class="play"><span class="name">RED DEAD REDEMPTION 2</span></span> <a href="#"><img src="../assets/images/movie16.jpg" alt="" /></a> </div>
          <div class="rating">
            <p>PUNTUACIÓN</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
            <span class="comments">12</span> </div>
        </div>
        <div class="movie">
          <div class="movie-image"> <span class="play"><span class="name">SPLATTON 2</span></span> <a href="#"><img src="../assets/images/movie17.jpg" alt="" /></a> </div>
          <div class="rating">
            <p>PUNTUACIÓN</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
            <span class="comments">12</span> </div>
        </div>
        <div class="movie last">
          <div class="movie-image"> <span class="play"><span class="name">SONIC MANIA</span></span> <a href="#"><img src="../assets/images/movie18.jpg" alt="" /></a> </div>
          <div class="rating">
            <p>PUNTUACIÓN</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
            <span class="comments">12</span> </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>
    <div id="news">
      <div class="head">
        <h3>NOTICIAS</h3>
        <p class="text-right"><a href="#">Ver todo</a></p>
      </div>
      <div class="content">
        <p class="date">12.12.20</p>
        <h4>La lista de videojuegos para ir calentado las navidades</h4>
        <p>&quot; Nuestra Game List con los 20 títulos que más nos gusta jugar en la redacción de Miguel Zelaya, de todos los tipos y para todas las plataformas. </p>
        <a href="#">Mas</a> </div>
      <div class="content">
        <p class="date">11.04.20</p>
        <h4>Cyberpunk 2077 encabeza los lanzamientos en videojuegos de esta semana</h4>
        <p> Como cada semana, Jen Herranz te trae los títulos más importantes que se han estrenado, en donde destacamos el lanzamiento de Cyberpunk 2077 el pasado 10 de diciembre..&quot;...</p>
        <a href="#">Mas</a> </div>
      <div class="content">
        <p class="date">10.04.20</p>
        <h4>The Game Awards 2020: La entrega de premios al videojuego del año</h4>
        <p>Un gran evento el que estamos presenciando, y que nos está dejando a The Last Of Us Part II como el gran ganador de la noche, con diversos premios ya en la bolsa.</p>
        <a href="#">Mas</a> </div>
    </div>
    <div id="coming">
      <div class="head">
        <h3>MUY PRONTO<strong>!</strong></h3>
        <p class="text-right"><a href="#">Ver todo</a></p>
      </div>
      <div class="content">
        <h4>Pokkén Tournament </h4>
        <a href="#"><img src="../assets/images/coming-soon1.jpg" alt="" /></a>
        <p>Pokkén Tournament es un videojuego de lucha arcade desarrollado por Bandai Namco Games en colaboración de The Pokémon Company.</p>
        <a href="#">Mas</a> </div>
      <div class="cl">&nbsp;</div>
      <div class="content">
        <h4>Street Fighter V </h4>
        <a href="#"><img src="../assets/images/coming-soon2.jpg" alt="" /></a>
        <p>Es un juego de peleas publicado por Capcom, quien co-desarrollo el juego con Dimps. Es el quinto título de la serie principal de juegos de Street Fighter..</p>
        <a href="#">Mas</a> </div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
</div>
</div>


  <footer id="footer">
      <div class="copyright">
        <ul class="icons">
          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
        </ul>
        &copy; Untitled. Design: Grupo 3 Seminario de Software UNICAH 2020 Tercer Semestre.
      </div>
    </footer>