
<section id="banner" data-video="assets/images/banner">
    <div class="inner">
        <header>
            <h1>Bienvenidos a Nuestro Espacio</h1>
            <p>En este espacio podras encontrar de las mejores peliculs<br />
            Y videojuegos que son tendencias en estos momentos.</p>
        </header>
        <a href="#main" class="button big alt scrolly">Ver mas</a>
    </div>
</section>

        <div id="main">
  
                <section class="wrapper style2">
                  <div class="inner">
                    <header>
                      <h2>Informacion</h2>
                      <p>Enterate de quienes somos y lo que hacemos por nuestros usuarios.</p>
                    </header>
                    <!-- Tabbed Video Section -->
                      <div class="flex flex-tabs">
                        <ul class="tab-list">
                          <li><a href="Inicio" data-tab="tab-1" class="active">Nosotros</a></li>
                          <li><a href="Inicio" data-tab="tab-2">Servicios</a></li>
                          <li><a href="Inicio" data-tab="tab-3">Colaboradores</a></li>
                        </ul>
                        <div class="tabs">
        
                          <!-- Tab 1 -->
                            <div class="tab tab-1 flex flex-3 active">
                              Nostros somos una compañia que esta a disposicion la venta de peliculas y videojuegos que satisfagan 
                              la necesidad de entretenimiento de nuestros usarios, somos un grupo pequeño de desarrolladores que nos 
                              estamos permitiendo la oportunidazad de crear nuestra propia empresa digital para que llegue a distintos
                              usuarios a nivel global, porque compartir lo que nos entretiene es lo que nos ayuda a avanzar!!!
                            </div>
        
                          <!-- Tab 2 -->
                            <div class="tab tab-2 flex flex-3">
                              Nuestro Servicos
                              Estos se basan en la venta de peliculas y videojuegos, ofreciendo variedad de contenido en el usuarios
                              registrado pueda tenes muchas opciones y seleccione lo que le el desea comprar y que lo encuentre al mejor 
                              precio posible, y con la mayor facilidad posible, ya que lo que deseamos es que el cliente se sienta comodo
                              incluso cuando hace su compra en linea :)
                             
                            </div>
        
                          <!-- Tab 3 -->
                            <div class="tab tab-3 flex flex-3">
                              Nuestros colaboradores son de primera linea ya que contamos con un personal capacitado.
                              Desde expertos en diseño y seguridad, hasta los mejores desarrolladores de plataformas a nuestro alcance
                              personal que obtendra las mejores ofertas y manejen un excelente servicio a los usuarios, tanto con 
                              personas que siempre te tendran actualizado con el contenido nuevo e innivador de la temporada.
                        
                            </div>
        
                        </div>
                      </div>
                  </div>
                </section>

                <section class="wrapper style1">
                  <div class="inner">
                    <header class="align-center">
                      <h2>Venta de Peliculas y Videojuegos</h2>
                      <p>Estas en la mejor pagina para la compras de peliculas y videojugos</p>
                    </header>
                    <!-- 2 Column Video Section -->
                      <div class="flex flex-2">
                        <div class="video col">
                          <div class="image fit">
                            <img src="assets/images/inicio1.jpg" alt="" />
                            <div class="arrow">
                            </div>
                          </div>
                          <p class="caption">
                            Nuestra Seccion de Videojuegos esta repletas de ellos.
                          </p>
                        </div>
                        <div class="video col">
                          <div class="image fit">
                            <img src="assets/images/inicio2.jpg" alt="" />
                            <div class="arrow">
                            </div>
                          </div>
                          <p class="caption">
                            En nuestra Seccion de Peliculas encontraras mucha Variedad.
                          </p>
                        </div>
                      </div>
                  </div>
                </section>
        
              </div>
      
              <footer id="footer">
                <div class="copyright">
                  <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
                  </ul>
                  &copy; Untitled. Design: Grupo 3 Seminario de Software UNICAH 2020 Tercer Semestre.
                </div>
              </footer>